<div class='container'>
	 <div class="DataSafeMove a{{$index}}" ng-repeat="n in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]" ng-init="animationFunction($index)"></div>
	<h4>Welcome, {{userName}}</h4><br>
	<a ng-click='logout()'>logout</a> | <a class='' href="#/create">Create a masterpiece</a>
<div class="divider black"></div>
</div>
<div class='row'>
	<div class='col l2'>
		<p><!-- stuff goes here later --></p>
	</div>
	<div class='col l10'>
		<h4 class="center-align">Other Burgers</h4>
		<div class='row'>
			<div class='col s2 row' ng-repeat='burger in burgers track by $index'><span class="">{{ burger.name }} | {{ burger.total }}<br>created by: {{ burger._user.name }}<br>
				<div class='green col s6 waves-effect waves-light btn' ng-click='voteUp(burger)'>liked</div>    
				<div class='red col s6 waves-effect btn' ng-click='voteDown(burger)'>nope</div><br></span></div>
		</div>
	</div>
</div>